
body {
  margin: 0;
  text-align: center;
  color: #40514E;
}
h1 {
  font-size : 5.625rem ; /*    ******    1em =16px=100% ********  */
  margin-top: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;

}
h2{
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;

}
p
{
  line-height: 2;
}
.top-container {
  background-color: #e4f9f5;

  padding: 20px;
  padding-top: 100px;
}
.middle-container
{
  margin-top: 50px;

}
h3
{
  color: #11999E;
}


a
{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat',sans-serif;
}

a:hover
{
  color: #eaf6f6; ;
}
hr
{
  border: dotted #C9EEFF;
  border-width: 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  font-family: 'Montserrat',sans-serif;
}
.code-img
{
width: 25%;
float: left;
margin-right: 30px;
}
.speak-img
{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.pro {
  text-decoration: underline;
}
.top-cloud
{
  position: absolute;
  right:300px;
  top:50px;
}
.bottom-cloud
{
  position: absolute;
  left:250px;
  bottom: 300px;


}
.btn {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: 'Montserrat',sans-serif;  color: #ffffff;
  font-size: 23px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 3px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfcb9;
  text-decoration: none;
}
.dp
{
  border-radius: 1000px;
  height: 200px;
  width: 200px;
}
.para
{
  width:50%;
  margin: auto;
  font-family: 'Montserrat',sans-serif;
}
.contact-me
{
  width: 40%;
  margin: 40px auto 60px;


}
.bottom-container
{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.copyright
{

  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact
{
  padding-bottom: 50px;
}
